In [4]:
import pandas as pd

In [5]:
"""
Files :
    sample csv file - https://github.com/codeforamerica/ohana-api/tree/master/data/sample-csv
    Titanic - https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
    excel file - https://github.com/finbourne/sample-excel
"""

'\nFiles :\n    sample csv file - https://github.com/codeforamerica/ohana-api/tree/master/data/sample-csv\n    Titanic - https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv\n    excel file - https://github.com/finbourne/sample-excel\n'

In [1]:
 import pandas as pd

In [3]:
df = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html', flavor='html5lib')

In [4]:
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [5]:
type(df)

list

In [8]:
len(df)

1

In [9]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [10]:
type(df[0])

pandas.core.frame.DataFrame

In [11]:
df1 = df[0]

In [12]:
df1.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [14]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [15]:
df1.head(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537

In [16]:
df1.tail(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [17]:
df1.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [18]:
dtype = df1.dtypes

In [19]:
dtype

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [20]:
print(dtype)

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [21]:
df1.to_csv('NBA.csv')

In [23]:
df1.to_csv('NBA1.csv', index=False)

In [26]:
l = pd.read_html('https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team')

In [27]:
len(l)

1

In [28]:
l[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,SR,100,50,0
0,AB Agarkar,2006-2007,4,2,0,15,14,7.50,136.36,-,-,-
1,KK Ahmed,2018-2019,14,1,1,1,1*,-,100.00,-,-,-
2,S Aravind,2015-2015,1,-,0,-,-,-,0.00,-,-,-
3,Arshdeep Singh,2022-2023,33,8,6,32,12,16.00,133.33,-,-,-
4,R Ashwin,2010-2022,65,19,12,184,31*,26.28,115.00,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...
102,R Vinay Kumar,2010-2013,9,1,1,2,2*,-,50.00,-,-,-
103,Washington Sundar,2017-2023,37,15,5,107,50,10.70,150.70,-,1,4
104,SA Yadav,2021-2023,53,50,10,1841,117,46.02,172.70,3,15,3
105,UT Yadav,2012-2022,9,2,1,22,20*,22.00,104.76,-,-,-
106,Yuvraj Singh,2007-2017,58,51,9,1177,77*,28.02,136.38,-,8,1

In [29]:
l[0].to_csv('cricket.csv', index=False)

In [30]:
d ="""{"name" : "Sudhanshu kumar" , 
"email id " : "sskumar@gmail.com",
"tech" : ["ML" , "DL" , "CV" ],
"plateform" : ["techneuron" , "kidsneuron" , "ineuron"]
}"""

In [31]:
pd.DataFrame(d)

ValueError: DataFrame constructor not properly called!

In [32]:
import json

In [36]:
json.loads(d)

{'name': 'Sudhanshu kumar',
 'email id ': 'sskumar@gmail.com',
 'tech': ['ML', 'DL', 'CV'],
 'plateform': ['techneuron', 'kidsneuron', 'ineuron']}

In [37]:
result = json.loads(d)

In [38]:
type(result)

dict

In [39]:
pd.DataFrame(result)

              name          email id  tech   plateform
0  Sudhanshu kumar  sskumar@gmail.com   ML  techneuron
1  Sudhanshu kumar  sskumar@gmail.com   DL  kidsneuron
2  Sudhanshu kumar  sskumar@gmail.com   CV     ineuron

In [40]:
r = pd.DataFrame(result)

In [41]:
r

              name          email id  tech   plateform
0  Sudhanshu kumar  sskumar@gmail.com   ML  techneuron
1  Sudhanshu kumar  sskumar@gmail.com   DL  kidsneuron
2  Sudhanshu kumar  sskumar@gmail.com   CV     ineuron

In [44]:
d = {"packetType":"D","data":{"checkEngineLightFlag":"F","batteryVoltageStableTime":0,"batteryVoltageStable":"0","batteryVoltageOff":"12.42","batteryCrankParamTN":"-0.08","batteryCrankParamVN":"0.00","batteryCrankParamTP":"-0.08","batteryCrankParamVP":"0.00","batteryCrankParamTT":"-0.00008","batteryCrankParamV0":"0.00","batteryVoltageMaxOn":"13.05","batteryVoltageMinOn":"12.97","batteryVoltageMaxOff":"12.46","batteryVoltageMinOff":"12.36","batteryVoltageOnAverage":"13.02","engineLoadMax":"84","engineLoadAverage":"39.98","rpmMax":"3487","rpmAverage":"1431.29","gpsSpeedAverage":"21.99","vssMax":"53.44","vssAverage":"23.06","tcuTemperatureMin":"82.40","tcuTemperatureMax":"109.40","tcuTemperatureAverage":"104.87","coolantMin":"158.00","coolantMax":"188.60","coolantAverage":"180.20","packetStartLocal":1508143346000,"tripStartLocal":1508143346000,"milIndicator":"F","monitorsNotReady":0,"imei":"60DF5417","gatewayTs":1515613306592,"diagnosticTroubleCodeData":[],"diagnosticPidData":[[64768,47,100],[64768,1,517376],[64800,1,262144],[64768,5,125]]},"header":{"iwrapVer":"1.9.20","sourceSystem":"CDP","configVer":"1.1","oemName":"HUM","unitType":0,"cpVer":"7.50.1.9","igpsVer":"1.3.7","messageType":"Notification","pomVer":"1.0","headerVer":"V6","timestamp":0,"deviceType":"InDrive","visorVer":"1.4.35","transactionId":"53098471-7787-4160-94b3-cd69dcc70416","deviceSerialNo":"60DF5417","subOrganization":"HUM","organization":"HUM","imei":"60DF5417","operation":"Notification"}}

In [45]:
pd.DataFrame(d)

,packetType,data,header
checkEngineLightFlag,D,F,NaN
batteryVoltageStableTime,D,0,NaN
batteryVoltageStable,D,0,NaN
batteryVoltageOff,D,12.42,NaN
batteryCrankParamTN,D,-0.08,NaN
batteryCrankParamVN,D,0.00,NaN
batteryCrankParamTP,D,-0.08,NaN
batteryCrankParamVP,D,0.00,NaN
batteryCrankParamTT,D,-0.00008,NaN
batteryCrankParamV0,D,0.00,NaN
batteryVoltageMaxOn,D,13.05,NaN
batteryVoltageMinOn,D,12.97,NaN
batteryVoltageMaxOff,D,12.46,NaN
batteryVoltageMinOff,D,12.36,NaN
batteryVoltageOnAverage,D,13.02,NaN
engineLoadMax,D,84,NaN
engineLoadAverage,D,39.98,NaN
rpmMax,D,3487,NaN
rpmAverage,D,1431.29,NaN
gpsSpeedAverage,D,21.99,NaN
vssMax,D,53.44,NaN
vssAverage,D,23.06,NaN
tcuTemperatureMin,D,82.40,NaN
tcuTemperatureMax,D,109.40,NaN
tcuTemperatureAverage,D,104.87,NaN
coolantMin,D,158.00,NaN
coolantMax,D,188.60,NaN
coolantAverage,D,180.20,NaN
packetStartLocal,D,1508143346000,NaN
tripStartLocal,D,1508143346000,NaN
milIndicator,D,F,NaN
monitorsNotReady,D,0,NaN
imei,D,60DF5417,60DF5417
gatewayTs,D,1515613306592,NaN
diagnosticTroubleCodeData,D,[],NaN
diagnosticPidData,D,"[[64768, 47, 100], [64768, 1, 517376], [64800,...",NaN
iwrapVer,D,NaN,1.9.20
sourceSystem,D,NaN,CDP
configVer,D,NaN,1.1
oemName,D,NaN,HUM
unitType,D,NaN,0
cpVer,D,NaN,7.50.1.9
igpsVer,D,NaN,1.3.7
messageType,D,NaN,Notification
pomVer,D,NaN,1.0
headerVer,D,NaN,V6
timestamp,D,NaN,0
deviceType,D,NaN,InDrive
visorVer,D,NaN,1.4.35
transactionId,D,NaN,53098471-7787-4160-94b3-cd69dcc70416
deviceSerialNo,D,NaN,60DF5417
subOrganization,D,NaN,HUM
organization,D,NaN,HUM
operation,D,NaN,Notification